
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#DB5F32;
  color:white;
}


.centered {
  text-align: center !important;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size:16px;

}
.reese {
  width:65%;
  margin:0 auto;
  display:block;
}

h1,h2,h3,h4,h5 {
  color: yellow;
  font-family:'Roboto Condensed', sans-serif;
}


.logo {
  width:30% !important;
}


.reeses {
width:40%;
float:right

}

.reese{
width:40%;
float:left

}

.crown {
  width:40%;
  margin:0 auto;
  display:block;
}

.tiles {
  margin-top:150px !important;
}

.icCopy {
  font-family: "Playfair Display", serif;
  font-weight:400;
  color:#3A3A3A !important;
  margin-bottom:40px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.button {
  border-radius: 40px;
}

.explainwave {
  /* margin-top:-240px; */
  margin-top:90px;
}

.explainer {
  background-color:white;
  margin-top:-60px;
}
.explainer .ui.grid>.row {
  padding:30px;
  border-top: 1px solid #eee;
}
.test {
  margin-top:-390px;
}

.wave-container {
  margin-top:-110px;
}

.transitions-item {
  overflow: hidden;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 4em;
  font-family:"Playfair Display", sans-serif;
  font-weight: 400;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 90px;
}


.list {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  width: 100%;
  height: 100%;
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 15px;
}

.list > div > div {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}


.ui.button:hover{
  background-color:#f6d6cf;
}


a {
  color:#black !important;
}


.heads {
  text-align: center !important;
}

.nice {
  margin-top: 40px !important;
  padding:30px !important;
}

.niceImg {
  width:70%;
}


.explainerButton {
  display:block !important;
  margin:0 auto !important;
}


.type {
  padding: 40px !important;
}

.imageCopy {
  background-color: #F6D6CF;

}

.opening {
  margin-bottom:30px !important;
}


.four {
  margin-top: -100px;
}

 .five {
  margin-top:-100px;
}

.port {
  margin-top:-10px;
  padding:40px !important;
  background-color:#FFF5EC;
}


.experience {
  padding:40px !important;
  background-color:white;
}

.ui.menu {
  border: none !important;
}

.example-appear {
  opacity: 0.03;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


a {
  color: rgba(0,0,0,.87)
}


.ui.button {
  background-color:#F6C9A0
}

.jumbotron {
  background-color: #F9EDED !important;
}


.ui.huge.header {
  font-size: 75px;
  font-size:300 !important;
  margin-top: 120px;
}



@media(max-width:767px) {

  .home {
    width:40% !important;
  }
  .crown {
    width:100%;
  }
  .ui.huge.header {
    font-size: 55px;
    font-size:300 !important;
    margin-top: 0px;
  }

  .niceImg, .imgNice2 {
    display: none !important;
  }

  .transitions-item {
  font-size: 40px !important;
  font-weight: 500;
  line-height:30px;
  }

  .icCopy {
    margin-top:-90px !important;
  }


}
