@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto:wght@300;500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#F9EDED;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.button {
  border-radius: 40px;
}

.heads {
  text-align: center !important;
}

.nice {
  margin-top: 40px !important;
  padding:30px !important;
}

.explainer {
  margin-top:80px !important;
}

.explainerButton {
  display:block !important;
  margin:0 auto !important;
}


.type {
  padding: 40px !important;

  }
.imageCopy {
  content:"";
  background-color: #F6D6CF;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 25%;
  border-top-right-radius: -15%;
  padding:30px;
  height:600px;
}

.opening {
  margin-bottom:30px !important;
}

.four {
  margin-top:-80px;
}

 .five {
  margin-top:-50px;
}

.port {
  padding:40px !important;
}

.experience {
  padding:40px !important;
}

.ui.menu {
  background-color:#F9EDED;
  border: none !important;
}

.ui.menu>.item:first-child {
  font-family: 'Playfair Display', serif;
  font-size:30px;
}

.faces {
  margin-top:-30px;
  transform:scale(1, 1);
   transition: .5s;
}

.faces:hover {
      transform:scale(1.5, 1.5);

}

.ui.button {
  background-color:#F6C9A0
}

.jumbotron {
  background-color: #F9EDED !important;
}


.ui.huge.header {
  font-size: 50px;
  margin-top: 120px;
}
